@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'Nunito-bold';
    src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
    font-family: 'Nunito-semibold';
    src: url(../fonts/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: 'Nunito-regular';
    src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'Nunito-light';
    src: url(../fonts/Nunito-Light.ttf);
}    
@font-face {
    font-family: 'Nunito-lightItalic';
    src: url(../fonts/Nunito-LightItalic.ttf);
}        